includes:
    - vendor/larastan/larastan/extension.neon

parameters:

    paths:
        - src

    level: 10

    ignoreErrors:
        - identifier: cast.int
        - identifier: cast.string

    excludePaths:
        - config/*
